/* Styles for Parle Lune */

/* General Styles */
* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Raleway', sans-serif;
    color: #EEE;
}

#container-fluid { 
    background: #FBE9E7;
}


/* Header Styles */
h1 {
    width: 100%;
    text-align: center;
    position: relative;
}

#title {
    font-size: 90%;
    font-family: 'Shrikhand', cursive;
}

.glyphicon {
    font-size: 50%;
}

/* Chat Form Styles */
#chat-form { 
    background: #5C6BC0; 
    position: relative;
    width: 100%;
    padding: 1px 1px 1px 0;
    margin-top: 3%;
    bottom: 0; 
}

#chat-form input { 
    background-color: #818086;
    color: #EEE;
    font-size: 12px;
    width: 85%; 
    padding: 10px; 
    margin-right: .25%; 
    margin-left: .25%; 
    border: 0; 
}

#chat-form #button { 
    color:#EEE; 
    background: #5C6BC0; 
    border: none; 
    padding: 10px;  
    width: 14%; 
}

/* Messages Styles */
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    font-size: 13px;
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #818086; 
}

#notify-user { 
    position: relative; 
    top: 5px;
    font-size: 12px;
    width: 100%; 
}